<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Communicator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Communicator.Properties.Settings>
      <setting name="hostType" serializeAs="String">
        <value>Slave</value>
      </setting>
      <setting name="communicationMode" serializeAs="String">
        <value>Receiver</value>
      </setting>
      <setting name="netExchangePeriod" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="remoteReceivingPort" serializeAs="String">
        <value>1286</value>
      </setting>
      <setting name="remoteSendingPort" serializeAs="String">
        <value>4051</value>
      </setting>
      <setting name="localIP" serializeAs="String">
        <value>192.168.223.78</value>
      </setting>
      <setting name="remoteIP" serializeAs="String">
        <value>192.168.223.69</value>
      </setting>
      <setting name="localReceivingPort" serializeAs="String">
        <value>4050</value>
      </setting>
      <setting name="localSendingPort" serializeAs="String">
        <value>4052</value>
      </setting>
    </Communicator.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
